
        <div class="flex flex-row bg-lightgrey p-3 justify-content-between">             
            <div id="myBtnContainer">
               <a href="{{ path('dashboard') }}">Réservation</a>
               <a href="{{ path('ccproduct') }}">Produits</a>
               <a href="{{ path('ccproduct-add') }}">Ajouter un produit</a>
               </div>
            </div>

                
