{% extends 'layout.html.twig' %}

{% block LinkEnfants %}
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fr.allfont.net/allfont.css?fonts=old-standard-tt-regular" rel="stylesheet" type="text/css" />
  <link href="https://fr.allfont.net/allfont.css?fonts=bebas-neue" rel="stylesheet" type="text/css" />
{% endblock %}

{% block CssEnfants %}
  <link rel="stylesheet" href="{{ asset('/assets/css/mentionslegales.css') }}">
{% endblock %}

{% block ScriptEnfants %}
  <script src="https://kit.fontawesome.com/387b1db967.js" crossorigin="anonymous"></script>
{% endblock %}



{% block main %}

<main>
  <br><br>
  <div class="containerMain">
      <h1>Mentions légales & CGU</h1>
      <hr>
  </div>

  <br>

  <div class="containerMain">
      <h2>1. Identification :</h2>
      <br>
      <p>En vertu de l’article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux Utilisateurs du Site l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
      <br>
      Propriétaire et/ ou éditeur du Site :
      <ul class="ulMentions">
        <li>À LA BAGUETTE SARL – au capital de 238 000 €</li>
        <li>70 rue Vertbois 75003 PARIS</li>
        <li>Représenté par Monsieur Dupond</li>
        <li>509 74 527 RCS PARIS – TVA FR68 805 318 995 – APE 5610A</li>
        <li>Tel. : +33 (0)1 49 79 86 54</li>
      </ul>
      <hr>
  </div>

  <div class="containerMain">
      <h2>2. Objet :</h2>
      <br>
      <p>Le présent document a pour objet de définir les mentions légales qui s’appliquent à tout Utilisateur visitant ce Site. En le consultant, vous vous engagez sans réserve à le respecter.
      </p>
      <hr>
  </div>

  <div class="containerMain">
      <h2>3. Modification :</h2>
      <br>
      <p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant par email à l’adresse suivante : Contact.alabaguette@gmail.com Les mentions légales peuvent être modifiées à tout moment par À LA BAGUETTE SARL . Dans ce cas, les mentions légales modifiées entrent en vigueur à compter de leur mise en ligne. Nous recommandons donc à l’Utilisateur de lire régulièrement ces mentions légales. L’utilisateur est réputé accepter cette dernière version à chaque nouvelle connexion au Site.
      </p>
      <hr>
  </div>

  <div class="containerMain">
      <h2>4. Données personnelles :</h2>
      <br>
      <p>Pour vous offrir des services adaptés, nous pouvons être amenés à vous demander de nous fournir des données personnelles. À LA BAGUETTE SARL s’engage à respecter votre vie privée et à protéger les informations que vous lui communiquez. En particulier, les données personnelles sont confidentielles et traitées comme telles. À LA BAGUETTE SARL ne collecte des informations personnelles relatives à l’Utilisateur que pour les besoins des services proposés par le Site. A ce titre, À LA BAGUETTE SARL s’engage expressément à ne pas procéder à des traitements, de manière incompatible avec les finalités du Site, à ne pas publier, divulguer ou transmettre d’informations concernant l’Utilisateur sans son accord préalable. <br> 
        Conformément aux dispositions de l’article 34 de la Loi n° 48-87 du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification, de modification des données nominatives collectées le concernant en envoyant un email à l’adresse suivante : Contact.alabaguette@gmail.com L’Utilisateur devra indiquer son nom ou sa raison sociale, ses coordonnées physiques et/ou électroniques, et le cas échéant la référence dont il dispose en tant que membre du Site. La modification interviendra dans un délai raisonnable à compter de la réception du courrier de l’Utilisateur. Pour toute information sur la protection des données personnelles, vous pouvez consulter le site de la Commission Informatique et Liberté (http://www.cnil.fr/)
      </p>
      <hr>
  </div>

  <div class="containerMain">
      <h2>5. Déclaration CNIL :</h2>
      <br>
      <p>Depuis 2006, les sites Internet n’ont plus besoin d’être déclarés en tant que tel à la CNIL. Les traitements de données personnelles ou nominatives collectées sur ce site par le biais de formulaires en ligne : nom, prénom, numéro de téléphone, adresse électronique font l’objet d’une dérogation définie dans la « Délibération n°2006-138 du 09/05/2006 décidant de la dispense de déclaration des traitements constitués à des fins d’information ou de communication externe ».Ce site ne dispose donc pas de numéro de déclaration CNIL.
      </p>
      <hr>
  </div>

  <div class="containerMain">
      <h2>6. Propriété intellectuelle :</h2>
      <br>
      <p>L’accès au Site confère à l’Utilisateur un droit d’usage privé et non exclusif de ce site. Aucune licence, ni aucun autre droit que celui de consulter le Site, n’est conféré à quiconque au regard des droits de propriété intellectuelle. <br> 
        Toute reproduction ou utilisation de copie réalisée à d’autres fins est expressément interdite. Il vous est expressément interdit de modifier le contenu du Site, de quelque manière que ce soit. L’ensemble des éléments édités sur le Site, notamment les textes, présentations, illustrations, photographies, arborescences, infographies, logos et mise en forme constituent, sauf documents publics et précisions complémentaires, des œuvres au sens du code de la Propriété Intellectuelle et sont la propriété exclusive de À LA BAGUETTE SARL ou de ses partenaires. <br> 
        A ce titre, leur représentation, reproduction, imbrication, diffusion et rediffusion, partielle ou totale, sont interdites conformément aux dispositions de l’article L.122-4 du Code de la propriété intellectuelle. Toute personne y procédant sans pouvoir justifier d’une autorisation préalable et expresse du détenteur de ces droits encourt les peines relatives au délit de contrefaçon prévues aux articles L.335-2 et suivants du Code de la propriété intellectuelle. <br> 
        En outre, toute représentation, reproduction, imbrication, diffusion et rediffusion, en tout ou partie, de la base de données contenue dans le Site est interdite en vertu des dispositions de la Loi n° 98-536 du 1er juillet 1998 relative à la protection juridique des bases de données. <br> 
        Les dénominations sociales, marques et logos contenus dans le Site sont la propriété de À LA BAGUETTE SARL et/ou de ses partenaires et ne peuvent être utilisés sans son autorisation expresse préalable. A ce titre, toute personne procédant à leur représentation, reproduction, imbrication, diffusion et rediffusion encourt les sanctions prévues aux articles L.713-2 et suivants du Code de la propriété intellectuelle.
      </p>
      <hr>
  </div>

  <div class="containerMain">
      <h2>7. Liens hypertexte vers d’autres sites :</h2>
      <br>
      <p>Le Site peut contenir des liens vers des sites partenaires de À LA BAGUETTE SARL. À LA BAGUETTE SARL n’exerce aucun contrôle sur ces sites et décline par conséquent toute responsabilité quant au contenu des sites et de l’usage qui pourra en être fait par les Utilisateurs.
      </p>
      <hr>
  </div>
  <div class="containerMain">
    <h2>8. Responsabilités :</h2>
    <br>
    <p>Les sources des informations diffusés sur le site Alabaguete.com sont réputés fiables mais le site ne garantit pas qu'il soit exempt de défauts, d'erreurs ou  d'omissions. <br>
      Les informations communiquées sont présentés à titre indicatif et générral sans valeur contractuelle. Malgré des mises à jour régulières, le site Alabaguete.com ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l'utilisation et de l'interpretation de l'information contenue dans ce site. <br>
      Le site Alabaguete.com ne peut être tenu pour responsable déventuels virus qui pourraient infecter l'ordinateur ou tout matériel informatique de l'Utilisateur, suite à une utilisation à l'accès ou au téléchargement provenant de ce site. <br>
      La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
    </p>
    <hr>
  </div>
  <div class="containerMain">
    <h2>9. Droit applicable et juridiction compétente :</h2>
    <br>
    <p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les deux parties, les tribunaux français seront seuls compétents pour en connaitre l'issue. <br>
      Pour toute question relative à l'application des présentes Mentions Légales & CGU, vous pouvez joindre le propriétaire et/ou éditeur du Site aux coordonnées inscrites dans la partie "1. Identification".
    </p>
    <hr>
  </div>
  <div class="containerMain">
      <h2>10. Informations complémentaires :</h2>
      <br>
        <ul class="ulMentions"> 
          <li>Concepteur multimédia et Graphisme : Digital'us.com</li>
          <li>Crédits photos / illustrations : Digital'us.com</li> 
          {# <li>Ce site est hébergé chez : ????</li> #}
        </ul>
      <p>
          L’ensemble de ce site relève des législations françaises et internationales sur le droit d’auteur et la propriété intellectuelle. <br><br>
      </p>
      <hr>
  </div>

  <br><br>
</main>

{% endblock %}